<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 align="center" style="color:black;"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h3 align="center" style="color:black;">{{ site.description | default: site.github.project_tagline }}</p>
        
        <h3 align="center" style="color:black;">{{ site.contact | default: site.github.project_tagline }}</p>
        
      </header>
      <section>

      {{ content }}
        # Education

<h3>PhD (ongoing, Jan. 2020-now) at CSA, IISc</h3>
<p>Advised by Prof. Arkaprava Basu</p>


<h3>M.Tech (2017-2019) in Computer Science at CSA, IISc</h3>
<p>Major project with Prof. Arkaprava Basu</p>

# Publications

<h4> <strong> [MICRO 22] </strong> <a href="https://www.csa.iisc.ac.in/~arkapravab/papers.html" title="MICRO 22"> Designing Virtual Memory System of MCM GPUs  </a> </h4>
Jawalkar Neha Prashant, Pratheek B, Arkaprava Basu  <br>
To appear in 55th IEEE/ACM International Symposium on Microarchitecture, Chicago, USA, October, 2022. <br>
Both Pratheek and Neha contributed equally. <br>


<h4> <strong> [AsiaCCS 21] </strong> <a href="https://www.csa.iisc.ac.in/~arkapravab/papers/asiaCCS21_GPUTLBChannel.pdf" title="AsiaCCS 21">(Mis)managed: A Novel TLB-based Covert Channel on GPUs </a> </h4>
Ajay Ashok Nayak, Pratheek B, Vinod Ganapathy, Arkaprava Basu <br>
In the proceedings of 16th ACM ASIA Conference on Computer and Communications Security, Hong Kong, June, 2021. <br>


<h4> <strong> [HPCA 21] </strong> <a href="https://www.csa.iisc.ac.in/~arkapravab/papers/hpca21_DWS.pdf" title="HPCA 21"> Improving GPU Multi-tenancy with Page Walk Stealing </a> </h4>
<p>Pratheek B, Jawalkar Neha Prashant, Arkaprava Basu <br>
In the proceedings of 27th IEEE International Symposium on High-Performance Computer Architecture, Seoul, South Korea, February, 2021. <br>
Both Pratheek and Neha contributed equally. <br>
<p color="red"> Best Paper Nominee </p>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
